.App {
  text-align: center;
    margin-top: 50px;
}
body{
    font-family: 'Josefin Slab', serif !important;
    font-size: 1.4rem !important;
    text-align: center !important;
   }
.heading{
    margin-top: 50px;
    font-family: 'Acme', sans-serif;
}

.pie{
    font-size:20px;
    font-weight:bold;
    fill:white;
}

.font-axis{
    font-size:15px;
}
.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}


div.tooltip {
    position: absolute;
    padding: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
svg{
    border: 3px solid midnightblue;
    margin: 30px 0px;
    background-color: #FFFFCC;
}
.fixed-0{
    position: fixed;
    top:50px;
    left: 30px;
}
.fixed-1{
    position: fixed;
    top:450px;
    left: 30px;
}
.main-heading{
    color: #990000;
}
.footer{
    margin-top: 30px;
    text-align: right;
    color: #990000;
}
.note{
    background-color: green;
    color: white;
    border-radius: 20px;
}